NEXT_PUBLIC_CDL_DATA_SOURCE=local

NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDEJjDFvN5Gz0PZvvem694Xr6BIG7cg8Lk"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="cdl-survival-game.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="cdl-survival-game"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="cdl-survival-game.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="955886337864"
NEXT_PUBLIC_FIREBASE_APP_ID="1:955886337864:web:227d941a55909c39373d7d"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-2PZ53MH54T"
